body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    padding: 24px;
    background-color: #1F2937;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 28px;
    margin-left: auto;
}