body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    display: flex;
    align-items: baseline;
    background-color: #1F2937;
    justify-content: space-around;
    padding-top: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
    padding: 0;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-box {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
    padding: 72px 0px;
}

.hero-content-1 {
    width: 450px;
}

.heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 400px;
}

.paragraph {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 12px;
}

button {
    margin-top: 16px;
    padding: 8px 28px;
    background-color: #3882F6;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

.hero-content-2 {
    background-color: gray;
    width: 600px;
    height: 300px;
}

.header-2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 24px;
}