body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: #1F2937;
    height: 500px;
}

.hero-container {
    width: 1912px;
    margin: auto;
}

.nav {
    display: flex;
    padding: 24px;
    align-items: baseline;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 48px;
    margin-left: auto;
    margin-right: 100px;
    padding: 0;
}

.logo {
    font-weight: bold;
    margin-left: 100px;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    color: white;
    text-decoration: none;
}

.hero-box {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
    flex: 1;
}

.hero-content-1 {
    margin-left: 100px;
    width: 550px;
}

.heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-top: 100px;
    width: 400px;
}

.paragraph {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 12px;
}

button {
    margin-top: 16px;
    padding: 8px 28px;
    background-color: #3882F6;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

.hero-content-2 {
    background-color: gray;
    margin-right: 100px;
    width: 400px;
    height: 300px;
}

.header-2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 24px;
}