body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    display: flex;
    align-items: baseline;
    background-color: #1F2937;
    justify-content: space-around;
    padding-top: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
    padding: 0;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

.hero-box {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
    padding: 72px 0px;
}

.hero-content-1 {
    width: 450px;
}

.heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 400px;
}

.paragraph {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 12px;
}

button {
    margin-top: 16px;
    padding: 8px 28px;
    background-color: #3882F6;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

.hero-content-2 {
    background-color: gray;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.hero-content-2 p {
    color: #F9FAF8;
    font-size: 18px;
}

.information {
    padding-top: 40px;
    padding-bottom: 60px;
}

.header-2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 64px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.card-box {
    width: 150px;
    height: 150px;
    border: 6px solid #3882F6;
    border-radius: 16px;
}

.card-info {
    font-family: Roboto, 'Open Sans', sans-serif;
    width: 150px;
    text-align: center;
    color: rgb(71, 71, 71);
}

.quote {
    background: #e5e7eb;
    padding: 84px 0;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
p.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    width: 800px;
    margin: 0;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto, 'Open Sans', sans-serif;
    width: 800px;
    text-align: right;
    margin: 0;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 900px;
    height: 100px;
    margin: 84px auto;
    padding: 24px 48px;
    border-radius: 12px;
    justify-content: space-around;
}

.cta-1{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    font-weight: 900;
}

.cta-2{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
}

.cta-section .sign-up {
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    padding: 48px 0;
    color: #F9FAF8;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}