body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    padding: 24px;
    background-color: #1F2937;
    color: white;
    align-items: baseline;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 48px;
    margin-left: auto;
    margin-right: 100px;
}

.logo {
    font-weight: bold;
    margin-left: 100px;
    font-size: 24px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}